@-webkit-keyframes skeleton-keyframes-data-v-ee6960ac {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 480px 0
    }
}

@keyframes skeleton-keyframes-data-v-ee6960ac {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 480px 0
    }
}

.wrapper[data-v-ee6960ac] {
    background-size: cover
}

.wrapper .app-download-container[data-v-ee6960ac] {
    height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 750px
}

.wrapper .app-download-container .main-content[data-v-ee6960ac] {
    width: 240px;
    color: #1d2129;
    margin-right: -10%;
    margin-left: 3%
}

.wrapper .app-download-container .main-content .img[data-v-ee6960ac] {
    width: 240px
}

.wrapper .app-download-container .main-content .desc[data-v-ee6960ac] {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0 48px;
    white-space: nowrap
}

.wrapper .app-download-container .main-content .scan-desc[data-v-ee6960ac] {
    margin: 16px 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    justify-content: center
}

.wrapper .app-download-container .main-content .icon[data-v-ee6960ac] {
    width: 24px;
    height: 24px
}

.wrapper .app-download-container .main-content .scan-text[data-v-ee6960ac] {
    margin-left: 8px
}

.wrapper .app-download-container .phone[data-v-ee6960ac] {
    width: 420px;
    margin-top: 30px;
    margin-right: -5%;
    filter: drop-shadow(40px 40px 100px rgba(0, 0, 0, .15))
}

.author-profile h4 {
    margin-top: 10px;
}

.author-profile a {
    color: #666;
}

.author-profile {
    text-align: center !important;
}

.author-profile .social-icons {
    margin-top: 10px !important;
}

.author-profile .social-icons a {
    margin: 4px;
}

.author-profile .intro {
    color: #999;
    font-weight: 320;
    font-size: 12px !important;
    display: block;
}

.author-profile img {
    margin: 0.6rem 0 0 0 !important;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.about-wrapper {
    padding: 20px 20px 20px 20px !important;
    width: 1px;
}

.markdown-body h1 {
    border-bottom: none !important;
    font-size: 1.6em !important;
}