.poem-wrap {
    position: relative;
    width: 720px;
    max-width: 80%;
    border: 1px solid #bbb;
    border-top: none;
    text-align: center;
    margin: 40px auto 40px auto;
    padding-bottom: 10px;
}

.poem-left {
    left: 0;
}

.poem-border {
    position: absolute;
    height: 1px;
    width: 27%;
    background-color: #bbb;
}

.poem-right {
    right: 0;
}

.poem-wrap p#poem {
    font-size: 18px;
}

.poem-wrap h1 {
    color: #666;
    font-size: 20px !important;
}

.poem-wrap p {
    width: 70%;
    color: #797979;
    margin: 10px auto;
}

.poem-wrap p#info {
    font-size: 14px;
}

@-webkit-keyframes skeleton-keyframes-data-v-ee6960ac {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 480px 0
    }
}

@keyframes skeleton-keyframes-data-v-ee6960ac {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 480px 0
    }
}

.wrapper[data-v-ee6960ac] {
    background-size: cover
}

.wrapper .app-download-container[data-v-ee6960ac] {
    height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 750px
}

.wrapper .app-download-container .main-content[data-v-ee6960ac] {
    width: 240px;
    color: #1d2129;
    margin-right: -10%;
    margin-left: 3%
}

.wrapper .app-download-container .main-content .img[data-v-ee6960ac] {
    width: 240px
}

.wrapper .app-download-container .main-content .desc[data-v-ee6960ac] {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0 48px;
    white-space: nowrap
}

.wrapper .app-download-container .main-content .scan-desc[data-v-ee6960ac] {
    margin: 16px 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    justify-content: center
}

.wrapper .app-download-container .main-content .icon[data-v-ee6960ac] {
    width: 24px;
    height: 24px
}

.wrapper .app-download-container .main-content .scan-text[data-v-ee6960ac] {
    margin-left: 8px
}

.wrapper .app-download-container .phone[data-v-ee6960ac] {
    width: 420px;
    margin-top: 30px;
    margin-right: -5%;
    filter: drop-shadow(40px 40px 100px rgba(0, 0, 0, .15))
}

.author-profile h4 {
    margin-top: 10px;
}

.author-profile a {
    color: #666;
}

.author-profile {
    text-align: center;
}

.author-profile .social-icons {
    margin-top: 10px;
}

.author-profile .social-icons a {
    margin: 4px;
}

.author-profile .intro {
    color: #999;
    font-weight: 320;
    font-size: 12px !important;
    display: block;
}

.author-profile img {
    margin: 0.6rem 0 0 0 !important;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}