.side-navigator-wrap.horizontal {
    padding-top: 20px;
    padding-bottom: 10px;
}

.sub-nav-item {
    color: white !important;
    background-color: var(--juejin-mask-1) !important;
}

.sub-nav-item.active {
    background-color: var(--juejin-brand-1-normal) !important;
}