/* featured post slider - (_common-styles.scss)
 * ------------------------------------------------------------------- */
#featured-post-slider {
    position: relative;
}

.featured-grid,
.featured-post-slide {
    height: 36rem;
    /* slide */
    /* slide */
}

.featured-post-slide {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    padding: 6rem 15% 3rem 15%;
    text-align: center;
    display: table;
}

.featured-post-slide .post-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.featured-post-slide .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featured-post-slide:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.featured-post-slide .post-content {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 500;
}

.featured-post-slide .entry-meta {
    font-family: "muli-regular", sans-serif;
    margin: -3rem 0 0.9rem 0;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.412;
}

.featured-post-slide .entry-meta li {
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.featured-post-slide .entry-meta li a {
    color: rgba(255, 255, 255, 0.6);
}

.featured-post-slide .entry-meta li a:hover,
.featured-post-slide .entry-meta li a:focus {
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
}

.featured-post-slide .slide-title {
    font-family: "montserrat-bold", sans-serif;
    font-size: 3.8rem;
    line-height: 1.421;
    margin-bottom: 3rem;
    color: #FFFFFF;
}

.featured-post-slide .slide-title a {
    color: #FFFFFF;
}

.featured-post-slide .slide-title a:hover,
.featured-post-slide .slide-title a:focus {
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
}

/* featured-post-slider direction nav
 * --------------------------------------------------------- */
#featured-post-slider .flex-direction-nav li {
    position: absolute;
    top: 50%;
    padding: 0;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    z-index: 500;
}

#featured-post-slider .flex-direction-nav li a {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 16px;
    background-color: black;
    opacity: .7;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#featured-post-slider .flex-direction-nav li a.flex-prev {
    background-image: url(../images/arrow-left.png);
}

#featured-post-slider .flex-direction-nav li a.flex-next {
    background-image: url(../images/arrow-right.png);
}

#featured-post-slider .flex-direction-nav li a:hover {
    opacity: 1;
}

#featured-post-slider .flex-direction-nav li.flex-nav-prev {
    left: 0;
}

#featured-post-slider .flex-direction-nav li.flex-nav-next {
    right: 0;
}

/* responsive:
/* featured slider
/* ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
    .featured-post-slide .slide-title {
        font-size: 3.7rem;
    }

}

@media only screen and (max-width:768px) {
    .featured-post-slide {
        padding: 6rem 10% 3rem 10%;
    }

    .featured-post-slide .entry-meta {
        font-size: 1.5rem;
    }

    .featured-post-slide .slide-title {
        font-size: 3.2rem;
    }

}

@media only screen and (max-width:600px) {

    .featured-grid,
    .featured-post-slide {
        height: 30rem;
        /* slide */
    }

    .featured-post-slide .slide-title {
        font-size: 3rem;
    }

    #featured-post-slider .flex-direction-nav li {
        top: auto;
        margin-top: auto;
        bottom: 0;
    }

}

@media only screen and (max-width:400px) {

    .featured-grid,
    .featured-post-slide {
        height: 25rem;
        /* slide */
    }

    .featured-post-slide .slide-title {
        font-size: 2.7rem;
    }

}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 * =================================================================== */

/* reset */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* base styles */
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides>li:first-child {
    display: block;
}

.format-gallery .flex-control-paging {
    position: absolute;
    bottom: 2.1rem;
    right: 2rem;
    margin-left: 0;
    z-index: 500;
}

.format-gallery .flex-control-paging li {
    float: left;
    cursor: pointer;
    margin: 0 3px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.format-gallery .flex-control-paging li a {
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    opacity: .6;
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.5);
}

.format-gallery .flex-control-paging li a:hover,
.format-gallery .flex-control-paging li a.flex-active {
    opacity: 1;
}

.slides {
    padding-left: 0px !important;
}

.markdown-body .content-media img {
    vertical-align: bottom;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.markdown-body .content-media {
    position: relative;
    margin-bottom: 4.8rem;
}

.fluid-video-wrapper iframe {
    width: 90%;
    height: 36rem;
}

@media only screen and (max-width:720px) {
    .fluid-video-wrapper iframe {
        width: 100%;
        height: 16rem;
    }
}


/* 中国古诗 */

.poem-wrap {
    position: relative;
    width: 720px;
    max-width: 80%;
    border: 1px solid #bbb;
    border-top: none;
    text-align: center;
    margin: 40px auto 40px auto !important;
    padding-bottom: 20px !important;
    font-family: 仿宋, 仿宋, 仿宋_GB2312, 仿宋_GB2312, 华文仿宋, 华文仿宋, FangSong, FangSong_GB2312, STFangsong, CWTEX-F, "Noto Serif SC", serif;
}

.poem-left {
    left: 0;
}

.poem-border {
    position: absolute;
    height: 1px;
    width: 27%;
    background-color: #bbb;
}

.poem-right {
    right: 0;
}

.poem-wrap p#poem {
    font-size: 18px !important;
}

.poem-wrap h1 {
    color: #666;
    font-size: 20px !important;
    border-bottom: none !important;
}

.poem-wrap p {
    width: 70%;
    color: #797979;
    margin: 10px auto !important;
}

.poem-wrap p#info {
    font-size: 14px !important;
}

/* new_words */

.new_words_container {
    text-align: -webkit-center;
}

.new_words {
    max-width: 520px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(170, 170, 170) 0px 0px 15px 1px;
    padding: 10px 50px 10px 50px;
    border-radius: 4px;
    margin: 20px;
}

.new_words .pinyinContson {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
}

.new_words .pinyinContson .pinyin {
    clear: both;
    line-height: 160%;
    font-size: 14px;
    font-weight: normal;
    float: left;
    width: 40px;
}

.new_words .pinyinContson .hanzi {
    clear: both;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    background: url(https://ziyuan.guwendao.net/siteimg/indexMibac.png) no-repeat 2px;
    background-size: 38px 38px;
    font-family: 楷体, 楷体, 楷体_GB2312, 楷体_GB2312, 华文楷体, 华文楷体, 标楷体, KaiTi, KaiTi_GB2312, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", DFKai-SB, TW-Kai, "Noto Serif SC", serif;
}

.new_words .pinyinContson span {
    line-height: 100%;
    width: 39px;
    text-align: center;
    display: inline-block;
}

.new_words .desc {
    font-family: 仿宋, 仿宋, 仿宋_GB2312, 仿宋_GB2312, 华文仿宋, 华文仿宋, FangSong, FangSong_GB2312, STFangsong, CWTEX-F, "Noto Serif SC", serif;
    display: block;
    font-size: 16px;
    text-align: left;
}

.new_words .cite,
.new_words .cite a {
    color: rgb(204, 204, 204);
}

.new_words .cite {
    margin-top: 0px;
    font-size: 10px;
    font-style: italic;
    text-align: left;
}